@use '../../styles/variables' as *;

.nightshade_topbar {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 1rem 0;

  * > button {
    background-color: $belladonna;
    color: $moon-petal;
    padding: 0.25rem 1rem;
  }

  .grid-controls_zoom {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    &-inout {
      padding: 0.25rem 0.5rem;
    }
  }
}
