@use './variables' as *;

.controls {
  display: flex;
  gap: 3rem;
  align-items: center;

  &-size {
    display: flex;
    gap: 0.5rem;
  }

  &-zoom {
    display: flex;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
