@use './variables' as *;

:root {
  font-family: $font-family-base;
  line-height: 1.5;
  font-weight: $font-weight-regular;

  color: $moon-petal;
  background-color: $midnight-bloom;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  :focus-visible {
    border-radius: $radius-xl;
    outline: 1px solid $poison-ivy;
    outline-offset: 5px;
  }
}

body {
  margin: 0;
  padding: 0 2rem 1rem;
  place-items: left;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  font-weight: $font-weight-regular;
  color: $belladonna;
  text-decoration: none;

  &:hover {
    color: $belladonna;
  }
}

* > button {
  border-radius: $radius-xl;
  border: 1px solid transparent;
  font-size: 1rem;
  font-weight: $font-weight-regular;
  cursor: pointer;

  &:focus-visible {
    border-radius: $radius-xl;
    outline: 1px solid $poison-ivy;
    outline-offset: 5px;
  }
}
