@use '../../styles/variables' as *;

.nightshade {
  &_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
  }

  &_body {
    padding: 1rem;
    display: flex;
    max-width: 100vw;
    overflow: hidden;
    height: 100%;
  }
}
