@use '../../styles/variables' as *;

.nightshade_grid-settings {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;

  * > button:not(.nightshade-drawer_button, .grid-controls_zoom-inout) {
    background-color: $belladonna;
    color: $moon-petal;
    padding: 0.25rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      margin-right: 0.5rem;
    }
  }

  .grid-controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > div {
      h4 {
        margin-bottom: 0.25rem;
      }

      &:not(:first-of-type) {
        border-top: 1px solid $deadroot;
        padding-top: 1rem;
      }
    }

    &_size {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      input {
        border-radius: $radius-lg;
        padding: 0.25rem;
        margin-left: 0.25rem;
      }
    }

    &_zoom {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      &-options {
        display: flex;
        align-items: flex-start;
        gap: 1rem;
      }

      &-inout {
        padding: 0.25rem 0.5rem;
      }
    }
  }
}
