@use '../../styles/variables' as *;

.nightshade-drawer {
  border-radius: $radius-md;
  margin-bottom: 1rem;

  &_button {
    border: transparent;
    background-color: $midnight-bloom;
    color: $moon-petal;
    font-weight: $font-weight-bold;
    width: 100%;
    padding: 0.25rem 0;
    margin-bottom: 0.5rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &_content {
    padding: 1rem;
    background-color: $twilight-bloom;
    box-shadow: inset $element-shadow, inset $element-highlight;
    border-radius: $radius-md;
  }
}
